.main {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  min-height: calc(100lvh - 150px);
}

.turnButton {
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  padding: 0 10px;
  border-radius: 10px;
  margin: 5px 10px;
  font-weight: 500;
  font-size: 16px;
}

/* 回した後のものたち */
.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &Share {
    &Twitter {
      display: flex;
      width: 250px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background-color: #000;
      color: #fff;
      text-decoration: none;
      padding: 0 10px;
      border-radius: 10px;
      margin: 5px 10px;
      font-weight: 500;
      font-size: 16px;

      &Image {
        width: 30px;
        height: 30px;
        padding: 10px 5px 10px 0;
      }

      &Text {
        width: 215px;
      }
    }

    &Other {
      color: #2d5ef1;
      font-weight: 500;
      font-size: 14px;
      text-decoration: underline;
      display: block;
      margin: 0 auto;
    }
  }

  &ReturnButton {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    padding: 0 10px;
    border-radius: 10px;
    margin: 5px 10px;
    font-weight: 500;
    font-size: 16px;
  }
}

.formWrap {
  width: calc(100% - 40px);
  display: block;
  margin: 20px auto;
  background-color: #fefefe;

  padding: 10px 0;
  border-radius: 10px;
  display: block;
  text-align: center;
}

/* 回す前のものたち */
.beforeSection {
  margin: 0 30px;

  &Text {
    font-size: 16px;
  }

  .turnButton {
    display: block;
    margin: 20px auto;
  }
}

/* 読み込み中 */
.loading {
  &Img {
    display: block;
    margin: 10px auto;
    animation: 0.8s moveLoading infinite;
    transform-origin: 50% 50%;
  }
  &Text {
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin: 20px auto 10px;
    text-align: center;
  }
}
@keyframes moveLoading {
  0% {
    transform: rotate(0deg);
  }
  14% {
    transform: rotate(-45deg);
  }
  28% {
    transform: rotate(45deg);
  }
  42% {
    transform: rotate(-45deg);
  }
  57% {
    transform: rotate(45deg);
  }
  71% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
