.main {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.turnButton {
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  padding: 0 10px;
  border-radius: 10px;
  margin: 5px 10px;
  font-weight: 500;
  font-size: 16px;
}

/* 回した後のものたち */

.priceCard {
  position: relative;
  margin: 0 auto;
  width: calc(100% - 40px - 20px);
  padding: 11px 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #0a0a0a;
    border-radius: 2px;
    content: '';
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: -1px;
  }

  &Texts {
    width: calc(100% - 80px);

    &Name {
      font-size: 18px;
      font-weight: 500;
      color: #000;
      line-height: 1.5em;
    }
    &price {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.25em;
    }
  }

  &Link {
    position: relative;
    display: block;
    width: 50px;
    height: 30px;
    background-color: #f1f1f1;
    color: #000;
    text-decoration: none;
    line-height: 30px;
    border-radius: 5px;
    padding: 0 20px 0 10px;
    font-size: 16px;
    font-weight: 400;

    &::after {
      position: absolute;
      right: 5px;
      top: 10px;
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      margin: 0 5px;
      border-top: 1px solid #000;
      border-right: 1px solid #000;
      transform: rotate(45deg);
    }
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &Share {
    &Twitter {
      display: flex;
      width: 250px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background-color: #000;
      color: #fff;
      text-decoration: none;
      padding: 0 10px;
      border-radius: 10px;
      margin: 5px 10px;
      font-weight: 500;
      font-size: 16px;

      &Image {
        width: 30px;
        height: 30px;
        padding: 10px 5px 10px 0;
      }

      &Text {
        width: 215px;
      }
    }

    &Other {
      color: #2d5ef1;
      font-weight: 500;
      font-size: 14px;
      text-decoration: underline;
      display: block;
      margin: 0 auto;
    }
  }

  &ReturnButton {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    padding: 0 10px;
    border-radius: 10px;
    margin: 5px 10px;
    font-weight: 500;
    font-size: 16px;
  }
}

.allPrice {
  font-size: 20px;
  font-weight: 500;

  margin: 0 auto;
  width: calc(100% - 40px - 20px);
  padding: 11px 10px 0 10px;
  text-align: right;
}

.kome {
  font-size: 11px;
  margin: 0 auto;
  width: calc(100% - 40px - 20px);
  padding: 0 10px 11px 10px;
  text-align: right;
}
.formWrap {
  width: calc(100% - 40px);
  display: block;
  margin: 20px auto;
}

/* 回す前のものたち */
.beforeSection {
  margin: 0 30px;

  &Text {
    font-size: 16px;
  }

  .turnButton {
    display: block;
    margin: 20px auto;
  }
}

/* 読み込み中 */
.loading {
  &Img {
    display: block;
    margin: 10px auto;
    animation: 0.8s moveLoading infinite;
    transform-origin: 50% 50%;
  }
  &Text {
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin: 20px auto 10px;
    text-align: center;
  }
}
@keyframes moveLoading {
  0% {
    transform: rotate(0deg);
  }
  14% {
    transform: rotate(-45deg);
  }
  28% {
    transform: rotate(45deg);
  }
  42% {
    transform: rotate(-45deg);
  }
  57% {
    transform: rotate(45deg);
  }
  71% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
