.displayShow {
  display: block;
}
.displayHidden {
  display: none;
}
.form {
  width: calc(100% - 32px);
  background-color: #fefefe;
  border-radius: 10px;
  padding: 16px;

  &Title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5em;
  }

  &Error {
    color: #ff0000;
  }

  &Box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 16px;
    text-align: left;

    &Title {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;

      &.consent {
        margin-bottom: 0;
      }
    }

    &InputRadio {
      display: none;
    }

    &Label {
      position: relative;
      display: flex;
      gap: 8px;
      align-items: flex-start;
      align-self: stretch;
      padding: 0 0 0 28px;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;

      &::before {
        position: absolute;
        left: 0;
        display: block;
        content: '';
      }

      &span {
        display: block;
      }
    }

    &InputRadio + &Label {
      &::before {
        content: url('/icon/radio_button_unchecked.svg');
      }
    }
    &InputRadio:checked + &Label {
      &::before {
        content: url('/icon/radio_button_checked.svg');
      }
    }
  }

  &Submit {
    display: block;
    margin: 20px auto 0 auto;
    padding: 10px 32px;
    background-color: #000;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    border-radius: 5px;

    &Disable {
      width: fit-content;
      display: block;
      margin: 20px auto 0 auto;
      padding: 10px 32px;
      background-color: #000;
      color: #fff;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      border-radius: 5px;
      opacity: 0.6;
    }
  }
}
